@import "./Ultilities/Constant.scss";

.about-mainContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-color: #2f2f30;
	height: 100%;
	position: relative;
	padding: 100px 0;


	.about-title {
		position: absolute;
		right: 5%;
		bottom: 20px;

		background-image: url("../asset/images/Evopicture.jpg");
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		background-size: 900%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		font-size: 6rem;
	}

	.about-subContainer-left {
		width: 40%;
		font-family: $textFont;
		color: $textColorLight;

		.about-sub-section {
			margin-left: 20px;
			margin-bottom: 50px;
			h2 {
				font-size: 2rem;
				margin-bottom: 0px;
			}
			.description {
				font-family: $textFont;
				font-size: 14px;
				margin-top: 5px;
				line-height: 2;
				.categoryName {
					font-family: $textFont;
					font-weight: bolder;
				}
				.languageList {
					list-style-type: none;
					margin-left: 15px;
				}
			}
		}
	}
	.about-subContainer-right {
		width: 40%;
		font-family: $textFont;
		color: $textColorLight;


		.about-sub-section {
			margin-left: 20px;
			margin-bottom: 50px;
			h2 {
				font-size: 2rem;
				margin-bottom: 0px;
			}
			.description {
				font-family: $textFont;
				font-size: 14px;
				margin-top: 5px;
				line-height: 2;
				.categoryName {
					font-family: $textFont;
					font-weight: bolder;
				}
				.languageList {
					list-style-type: none;
					margin-left: 15px;
				}
			}
		}
	}
}
