$primaryColor : #ad2c34;
$secondaryColor :  #dee2e3;
$tertiaryColor : #01455e;
$textColorDark : #2f2f30;
$textColorLight : #ecf5e6;
$textFont : 'Quicksand', sans-serif;
$titleFont : 'Noto Serif', 'Quicksand', sans-serif;

@mixin Center{
    display: flex;
    align-content: center;
    justify-content: center;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}