@import "./Ultilities/Constant.scss";

.LinkButtonContainer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    top: 60%;
    margin-left: 40px;

    @media screen and (max-width: 789px) {
      flex-direction: column;
      left: 10%;
      top: 80%;
      
    }

    a {
      text-decoration: none;
      margin: 0;
    }

    .ButtonClass {
      width: 120px;
      border-radius: 0%;
      background-color: $secondaryColor;
      box-shadow: 0 0 0 1px $textColorDark;
      
    

      &:hover {
        background-color: $textColorDark;
      }

      .VisibleIcon {
        color: $textColorDark;
      }

      .HiddenIcon {
        color: $textColorLight;
      }
    }
  }