@import "./Ultilities/Constant.scss";

.LinkButtonContainer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    min-width: 550px;
    top: 60%;
    margin-left: 60px;

    a {
      text-decoration: none;
      margin: 0;
    }

    .ButtonClass {
      width: 150px;
      border-radius: 0%;
      background-color: $secondaryColor;
      box-shadow: 0 0 0 1px $textColorDark;

      &:hover {
        background-color: $textColorDark;
      }

      .VisibleIcon {
        color: $textColorDark;
      }

      .HiddenIcon {
        color: $textColorLight;
      }
    }
  }