@import "./Ultilities/Constant.scss";

.timeline-container {
	height: 100vh;

	.content-container {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		position: absolute;
		right: 5%;
		height: 100%;

		&::after {
			content: "";
			position: absolute;
			right: -28px;
			width: 1px;
			height: 100%;
			background-color: $primaryColor;
			z-index: 0;
		}

		.content {
			text-align: right;
			width: 400px;

			@media screen and (max-width: 789px) {	
				width: 200px;
			  }
			  
			.content-year {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 1.1rem;
				font-family: $titleFont;
				//the red line for timeline
				&::after {
					content: '';
					position: absolute;
					margin-top: 5px;
					margin-left: 20px;
					height: 15px;
					width: 15px;
					transform: rotate(45deg);
					background-color: $textColorDark;
					z-index: 1;
				}
			}
			.content-title {
				margin-top: 0;
				margin-bottom: 2px;
				font-family: $textFont;
			}
			.content-description {
				display: inline;
				font-family: $textFont;
				margin: 0;

				@media screen and (max-width: 789px) {	
					display: none;
				  }
			}
		}
	}
}
