@import "./Ultilities/Constant.scss";

.titleText-Container {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 200px;
	top: 35%;
	left: 30%;
  

	@media screen and (max-width: 789px) {
		top: 10%;
		left: 10%;
	}

	.titleName {
		font-family: "Bebas Neue", cursive;
		font-weight: 200;
		font-size: 5em;
		padding: 0;
		margin: 0;
		letter-spacing: 4px;
  

		@media screen and (max-width: 789px) {
			font-size: 2em;
		}
	}
	.titleSubContent {
		padding: 0;
		margin: 0;
		margin-left: 10px;
		font-size: 20px;
	}
}
