//HTML SCSS
@import "./index.scss";

//Navbar
@import "./styles/Navbar.scss";

//Welcome Section
@import "./styles/Welcome.scss";
@import "./styles/TitleText.scss";
@import "./styles/LinkButton.scss";
@import "./styles/Timeline.scss";

//About section
@import "./styles/About.scss";

//Contact me section
@import "./styles/Contact.scss";

@import "./styles/Project.scss";
@import "./styles/Footer.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.right-contrainer{
  margin-left: 300px;
}
