@import './Styles/Welcome.scss';
@import './Styles/Navbar.scss';
@import './Styles/Project.scss';
@import './Styles/Footer.scss';
@import './Styles/About.scss';
@import './Styles/Constant.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.right-contrainer{
  margin-left: 300px;
  
}
