@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #e08738;
  background-image: url(./asset/arches.png);
  display: flex;
  
}
/*-----------------------------Welcome---------------------- */

.welcome-mainContainer {
  display: flex;
  position: relative;
  height: 100vh;
}

.titleText-Container {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 30%;
  margin-left: 100px;

}

.titleName {
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 5em;
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
}
.titleSubContent {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 30px;

}

.buttonContainer{
  position: absolute;
  display: flex;
  top: 65%;
  left: 6em;
}

.urlButton{
  margin:0 15px;
  width: 200px;
  background-color:transparent;
    border: solid 1px !important;
    border-color: rgba(41, 24, 0, 0.7) !important;
    /* border-radius: 3em; */
    color: #ffffff !important;
    cursor: pointer;
    font-size: 0.6em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    height: calc(4.75em + 2px);
    letter-spacing: 0.25em;
    line-height: 4.75em;
    outline: 0;
    padding: 0 3.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}



.urlButton:before {
  content: "";
  position: absolute;
  background: rgb(20, 20, 20);
    /* border-radius: 3em; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

.urlButton:hover:before {
  top: 0;
}

.urlButton:after{
  content:"→";
  position:absolute;
  color:white;
  font-size: 10px;
  left: 83%;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.urlButton:hover:after{
  left:84%;
  opacity:1;
}


.faIcon{
  margin-right: 10px;
  font-size: 3em;
  vertical-align: middle;
}

/* ---------------------------Navigation-bar----------------------------- */
.navigation {
  box-sizing: border-box;
  display: block;
  height: 100vh;
  width: 300px;
  background-color: #945116;
}

.navigation-inner {
  /* center the unordered list vertically  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: relative;
  /* center the unordered list vertically  */
}

.navigation-inner a > li {
  list-style: none;
  text-align: right;
  padding: 15px 0;
  margin-top: 15px;
  margin-right: 30px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.nav-item {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-family: "Montserrat", "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}

.nav-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  margin-right: 30px;
  max-width: 0;
  width: 70%;
  background-image: linear-gradient(to left, #ffa759, #1acab3);
  transition: max-width 0.3s ease-out;
}

.nav-item:hover::after {
  max-width: 100%;
}

.navigation-inner a > li:hover {
  opacity: 1;
}

/* ----------------------------------------*Footer---------------------------------------------*/

.footer-mainContainer {
  background-color: rgb(148, 81, 22, 0.7);
  height: 40px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.footer-mainContainer p {
  color: #fff;
  margin: 0;
  margin-right: 2%;
  align-self: center;
  float: right;
  display: flex;
  font-size: 12px;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  opacity: 0.8;
}


/* -----------------------my-work--------------- */

.main-head-container{
  display: flex;
  height: 100vh;
  position: relative;
}

.grid-parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.project-top-container{
  width: fit-content;
  
}
.project-top-container img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100vh;
}

.project-top-container h2{
  writing-mode: vertical-rl;
  line-height: 1;
  position:absolute;
  bottom: 35%;
  font-size: 4em;
  padding: 20px;

  /* margin-left: 20px; */
  background-color: rgb(255, 255, 255, 0.6);
  
}
