* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
  background-color: #e08738;
}
/* --------------------------------Welcome---------------------- */

.welcome-mainContainer {
  display: flex;
  height: 100vh;
  background-color: #e08738;
  position: relative;
}

.titleText-Container {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 30%;
  margin-left: 100px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50; */
}

.titleName {
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 5em;
  padding: 0;
  margin: 0;
}
.titleSubContent {
  padding: 0;
  margin: 0;
}

/* ---------------------------Navigation-bar----------------------------- */
.navigation {
  height: 100vh;
  width: 300px;
  background-color: #945116;
}

.navigation-inner {
  /* center the unordered list vertically  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  position: relative;
  /* center the unordered list vertically  */
}

.navigation-inner a > li {
  list-style: none;
  text-align: right;
  padding: 15px 0;
  margin-top: 15px;
  margin-right: 30px;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.nav-item {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-family: "Montserrat", "Century Gothic", sans-serif;
  font-weight: bold;
  font-size: 0.8em;
}

.nav-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  margin-right: 30px;
  max-width: 0;
  width: 70%;
  background-image: linear-gradient(to left, #ffa759, #1acab3);
  transition: max-width 0.3s ease-out;
}

.nav-item:hover::after {
  max-width: 100%;
}

.navigation-inner a > li:hover {
  opacity: 1;
}

/* ----------------------------------------*Footer---------------------------------------------*/

.footer-mainContainer {
  background-color: rgb(148, 81, 22, 0.7);
  height: 40px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.footer-mainContainer p {
  color: #fff;
  margin-right: 2%;
  align-self: center;
  float: right;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  opacity: 0.8;
}
