<<<<<<< Updated upstream
@charset "UTF-8";
=======
@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #e08738;
  background-image: url('./asset/images/arches.png');
  display: flex;
  
}
>>>>>>> Stashed changes
/*-----------------------------Welcome---------------------- */
.welcome-mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100vh;
}

.titleText-Container {
  position: absolute;
  width: 500px;
  height: 200px;
  top: 30%;
  margin-left: 100px;
}

.titleName {
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 5em;
  padding: 0;
  margin: 0;
  letter-spacing: 4px;
}

.titleSubContent {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 30px;
}

.buttonContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 65%;
  left: 6em;
}

.urlButton {
  margin: 0 15px;
  width: 200px;
  background-color: transparent;
  border: solid 1px !important;
  border-color: rgba(41, 24, 0, 0.7) !important;
  /* border-radius: 3em; */
  color: #ffffff !important;
  cursor: pointer;
  font-size: 0.6em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  height: calc(4.75em + 2px);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.urlButton:before {
  content: "";
  position: absolute;
  background: #141414;
  /* border-radius: 3em; */
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
}

.urlButton:hover:before {
  top: 0;
}

.urlButton:after {
  content: "→";
  position: absolute;
  color: white;
  font-size: 10px;
  left: 83%;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.urlButton:hover:after {
  left: 84%;
  opacity: 1;
}

.faIcon {
  margin-right: 10px;
  font-size: 3em;
  vertical-align: middle;
}

/* ---------------Navigation-bar----------------------------- */
.navigation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  height: 100vh;
  width: 300px;
  background-color: #dee2e3;
  border-right: thin solid #ad2c34;
}

.navigation .navigation-inner {
  /* center the unordered list vertically  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  position: relative;
  /* center the unordered list vertically  */
}

.navigation .navigation-inner a > li {
  list-style: none;
  text-align: right;
  padding: 15px 0;
  margin-top: 25px;
  margin-right: 30px;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation .navigation-inner a > li:hover {
  opacity: 1;
}

.nav-item {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2f2f30;
  font-family: 'Noto Serif', sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.nav-item:hover {
  color: #ad2c34;
}

.nav-item::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  height: 2px;
  margin-right: 30px;
  max-width: 0%;
  width: 60%;
  background-image: -webkit-gradient(linear, right top, left top, from(#ad2c34), to(#dee2e3));
  background-image: linear-gradient(to left, #ad2c34, #dee2e3);
  -webkit-transition: max-width 0.3s ease-out;
  transition: max-width 0.3s ease-out;
}

.nav-item:hover::after {
  max-width: 100%;
}

/* -----------------------my-work--------------- */
.main-head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
}

.grid-parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.project-top-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.project-img {
  position: relative;
}

.project-top-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100vh;
}

.project-top-container h2 {
  position: absolute;
  font-size: 2.5em;
  bottom: 10%;
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* margin-left: 20px; */
  background-color: rgba(255, 255, 255, 0.6);
}

.footer-mainContainer {
  height: 40px;
  bottom: 0;
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.footer-mainContainer p {
  color: #fff;
  margin: 0;
  margin-right: 2%;
  -ms-flex-item-align: center;
      align-self: center;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  opacity: 0.8;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #dee2e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=App.css.map */