@import './Styles/Welcome.scss';
@import './Styles/Navbar.scss';
@import './Styles/Project.scss';
@import './Styles/Footer.scss';
@import './Styles/Constant.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: $secondaryColor;
  display: flex;

}